In [1]:
import pandas as pd
import pymongo

df = pd.read_csv('data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [2]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient='records')
# data

In [3]:
DB_NAME = "Vehicle_Insuarance_Predictor"
COLLECTION_NAME = "Vehicle-Insuarance-Data"
CONNECTION_URL = "mongodb+srv://jugallachhwani15_db_user:Jugal@12345@cluster0.pyvcisb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [4]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

InvalidURI: Username and password must be escaped according to RFC 3986, use urllib.parse.quote_plus

In [5]:
import pymongo
from urllib.parse import quote_plus

DB_NAME = "Vehicle_Insuarance_Predictor"
COLLECTION_NAME = "Vehicle-Insuarance-Data"

username = "jugallachhwani15_db_user"
password = "Jugal@12345"
password_encoded = quote_plus(password)

CONNECTION_URL = f"mongodb+srv://{username}:{password_encoded}@cluster0.pyvcisb.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

print("Connected successfully!")

Connected successfully!

In [6]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

In [7]:
# Load back data from mongodb

df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,68ed548236af361ab37b0975,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,68ed548236af361ab37b0976,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0